<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Orders</title>
   <link rel="stylesheet" type="text/css" href="/css/orderview.css">
</head>
<body>
    <h1>Orders</h1>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>User</th>
                <th>Order Date</th>
                <th>Total Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.user.fullname}"></td>
                <td th:text="${order.orderDate}"></td>
                <td th:text="${order.totalAmount}"></td>
                <td><a th:href="@{/admin/order/{id}(id=${order.id})}">View Details</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
